* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 300px;
    display: block;
    font-size: 1.8rem;
    line-height: 1.6;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
body {
    -ms-overflow-style: none;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Navbar */

nav {
    position: fixed;
    width: 100vw;
    padding: 5px;
    z-index: 10;
}

#navbar {
    display: flex;
    min-height: 50px;
    font-size: 1.5rem;
    top: 0;
    left: 0;
    justify-content: flex-end;
    align-items: center;
    background-color: aqua;
}

#navbar li {
    margin: 15px 10px 10px 15px;
    justify-content: center;
}

#navbar li:nth-last-child(1) {
    padding-right: 20px;
}

/* Welcome Section */

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    background-color: burlywood;
}

#welcome-section>p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
}

/* Projects section */

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 460px) {
    .projects-section-header {
        font-size: 4rem;
    }
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

@media (max-width: 490px) {
    .projects-section {
        padding: 6rem 1rem;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }
}

.project {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}


.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

/* Contact Section */

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    background-color: pink;
}

.contact-section-header>h2 {
    font-size: 2rem;
}

@media (max-width: 460px) {
    .contact-section-header>h2 {
        font-size: 1rem;
    }
}

.contact-section-header>p {
    font-style: italic;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin: 1rem;
    padding: 10px;
    flex-wrap: wrap;
}


/* Footer */

footer {
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: pink;
    border-top: solid 5px rgb(161, 48, 48);
}

footer>p {
    margin: 1rem;
}

footer i {
    vertical-align: middle;
}

@media (max-width: 460px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}